--
-- PostgreSQL database dump
--

\restrict KBP3bVXlqgA3h501RkhFG1eR7yec54SdHDGxpCVT7t6lGulaUkL8TlIQmeb6pKQ

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: booking; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.booking (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    event_id uuid NOT NULL,
    quantity integer NOT NULL,
    status character varying(255) NOT NULL,
    ticket_type_id uuid NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    user_id uuid NOT NULL,
    CONSTRAINT booking_quantity_check CHECK ((quantity >= 1)),
    CONSTRAINT booking_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'CONFIRMED'::character varying, 'CANCELLED'::character varying, 'EXPIRED'::character varying])::text[])))
);


--
-- Name: booking booking_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT booking_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict KBP3bVXlqgA3h501RkhFG1eR7yec54SdHDGxpCVT7t6lGulaUkL8TlIQmeb6pKQ

