--
-- PostgreSQL database dump
--

\restrict EiqS1uF33qVwZWbBmFrPlDI7P3offnbRQO85onZByHo5LwXXkkdjgqVBJAFbYgr

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: media_files; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.media_files (
    id uuid NOT NULL,
    content_type character varying(255) NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    original_file_name character varying(255) NOT NULL,
    size bigint NOT NULL,
    storage_key character varying(255) NOT NULL,
    storage_provider character varying(255) NOT NULL,
    uploaded_by uuid NOT NULL,
    CONSTRAINT media_files_storage_provider_check CHECK (((storage_provider)::text = ANY ((ARRAY['MINIO'::character varying, 'CLOUDINARY'::character varying])::text[])))
);


--
-- Name: media_files media_files_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media_files
    ADD CONSTRAINT media_files_pkey PRIMARY KEY (id);


--
-- Name: media_files uktfdxdl77krlmb0g3vf1ca5m2i; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media_files
    ADD CONSTRAINT uktfdxdl77krlmb0g3vf1ca5m2i UNIQUE (storage_key);


--
-- PostgreSQL database dump complete
--

\unrestrict EiqS1uF33qVwZWbBmFrPlDI7P3offnbRQO85onZByHo5LwXXkkdjgqVBJAFbYgr

